  <div id="PAGESEARCH">

    <center><p><h1><img id="IMAGESEARCH"src="~/images/logo/images.png"></h1></p></center>
    <p><h3>DNS/HOSTNAME!</h3></p>
    <p><h5>Este DNS/HOSTNAME ja esta em uso, porfavor selecione outro!</h5></p>
    <center><p><a id="COMPRARCREDITO" href="/Dnss/Index">NOVA VENDA</a></p></center>

  </div>