  <div id="PAGESEARCH">

    <center><p><h1><img id="IMAGESEARCH"src="~/images/logo/images.png"></h1></p></center>
    <p><h3>Limite de Desconto</h3></p>
    <p><h5>Limite de desconto cadastro é de apenas '1'</h5></p>
    <p><h5>Você pode alterar o valor que ja esta cadastrado</h5></p>
    <center><p><a id="COMPRARCREDITO" href="/Desconto/Index">ALTERAR DESCONTO</a></p></center>

  </div>