  <div id="PAGESEARCH">

    <center><p><h1><img id="IMAGESEARCH"src="~/images/logo/images.png"></h1></p></center>
    <p><h3>ERROR QRCODE</h3></p>
    <p><h5>Erro ao gerar um QRCODE!. Porfavor confira em seus dados se estão corretos, cpf, email, cep, nome...</h5></p>
    <p><h5>Seus dados precisam estar em conformidade com a Instituição de Pagamento (MercadoPago)</h5></p>
    <p><h5>Caso problema continue, não existe em nos contactar!</h5></p>
    <center><p><a id="COMPRARCREDITO" href="/Credito/Index">TENTAR NOVAMENTE</a></p></center>

  </div>