  <div id="PAGESEARCH">
    <center><p><h1><img id="IMAGESEARCH"src="~/images/logo/005.png"></h1></p></center>
    <p><h3>Sua pesquisa não foi encontrada!</h3></p>
    <p><h5>@ViewBag.ORIGEM</h5></p>
    <center>
      <p><button type="submit" id="button_search_cadastro_new"><a id="link" href="@ViewBag.RETURN">TENTAR NOVAMENTE</a></button></p>
    </center>
  </div>