  <div id="PAGESEARCH">

    <center><p><h1><img id="IMAGESEARCH"src="~/images/logo/images.png"></h1></p></center>
    <p><h3>Limite de Vendas</h3></p>
    <p><h5>Suas vendas ultrapassaram seu limite de crédito, por favor adquira mais créditos!</h5></p>
    <center><p><a id="COMPRARCREDITO" href="/Credito/Novo">COMPRAR CRÉDITOS</a></p></center>

  </div>