<center>
<div id="SESSIONTIMER">
    <div class="user-image">
            <img src="~/images/tv/Duvida.png" alt="@User.Identity.Name">
    </div>
    
    <p id="SESSIONEXPIRED">Erro ao acessar conteúdo, Tente novamente...</p>
    <div id="BUTTONSESSIONDIV">
    <a asp-area="" id="BUTTONSESSION" asp-controller="Home" asp-action="Grafico">
    <i class="fas fa-sign-out-alt"></i>
    Voltar
    </a>
    </div>
</div>

</center>