
 <a href="#popup" id="POPUPID"> #Informação</a>
<div id="popup" class="popup">
    <div class="popup-content">

        <h2><i class="fas fa-angle-up text-success"></i> @ViewBag.INFOTITLE</h2>
        <p>@ViewBag.INFOTEXT</p>
        <a href="#" id="URLPOP">Ok.</a>
    </div>
</div>