<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<center>
<div id="mydivs">
<div class="LOGO"></div>
    <a href="/Home/Grafico"> <img id="LOGOSPLASH"src="~/images/tv/Search.png" alt="@User.Identity.Name"></a>
    <p>Carregando aguarde...</p>
</div>
</div>
</center>