@model sistema.Models.Cidade

@{
    ViewData["Title"] = "CIDADE:::";
}

@if (User?.Identity?.IsAuthenticated ?? false)
{ 

<div class="row" id="formularios">
    @{Html.RenderPartial("~/Views/Shared/BreadCrumbs/Titulo.cshtml"); }
    <div class="col-md-12">
        <form asp-action="DadosCidade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codigo" />
            
            <input asp-for="latitude"  hidden="true"class="form-control">
            <input asp-for="longitude" hidden="true"class="form-control"/>
    

            <div class="form-group">
   
                <input asp-for="nome" id="InputItemOne" class="form-control" placeholder="ex: Curitiba" required/>
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
             <div class="form-group form-check">
                <label class="switch">
                    <input type="checkbox" asp-for="Ativo">
                    <span class="slider round"></span>
                </label>
                <span id="SEND">Escolha ativo/inativo</span>
            </div>
            <div class="form-group">
                <input type="submit" value="ATUALIZAR" id="btn"class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

}else{

   Html.RenderPartial("~/Views/Shared/Error/error.cshtml"); 

}




@{Html.RenderPartial("~/Views/Shared/BreadCrumbs/Footer.cshtml"); }
@{Html.RenderPartial("~/Views/Shared/Buttons/FloatIA.cshtml"); }
@{Html.RenderPartial("~/Views/Shared/Buttons/Float.cshtml"); }
