
<!-- @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Revenda") ){
   <a href="/Planos/Index" id="links" class="float">  
      <i class="fa fa-television my-float"></i> 
   </a>
} -->