<!-- 
@if (this.User.IsInRole("Administrador") || this.User.IsInRole("Parceiro") || this.User.IsInRole("Revenda") ){
    <a href="/Dnss/Index" id="links" class="floatDns">  
        <i class="fas fa-ethernet my-float"></i>
    </a>
} -->