<center>
<div id="SESSIONTIMER">
    
    <p id="SESSIONEXPIRED">Sua sessão expirou devido à inatividade por um período prolongado. Para continuar, faça login novamente.</p>
    <div id="BUTTONSESSIONDIV">
    <a asp-area="" id="BUTTONSESSION" asp-controller="Account" asp-action="Logout">
    <i class="fas fa-sign-out-alt"></i>
    Entrar na plataforma
    </a>
    </div>
</div>

</center>