<div id="ERRORWEB">
  <div id="PAGESEARCHWEB">
    <center><p><h1><img id="IMAGESEARCH"src="~/images/tv/Error.png"></h1></p></center>
    <p><h3>Este Email/Username já existem!</h3></p>
    <p><h4>Nosso sistema detectou este email já cadastrado.</h4></p>
    <p><h4>Utilize outro email ou username. </h4></p>
    <div id="BUTTONTEXT">
    <center><p><a id="COMPRARCREDITO" href="/Admin/RevendaCreate">TENTAR NOVAMENTE</a></p></center>
    </div>
  </div>
</div>    